*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
*:focus{
	outline: none;
}
p{
	line-height: 1.5em;
	font-family: "avertaregular", sans-serif;
}
p, li, a, button, label, div, span{
	font-family: "avertaregular", sans-serif;
}
h1, h2, h3, h4, h5{
	font-family: "avertasemibold", sans-serif;
}
a{
	color: #F62B4C;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.left-container{
	background: #000;
	box-shadow: 60px 60px 100px rgba(0,0,0,.2);
	position: fixed;
	width: 20vw;
	height: 100vh;
	z-index: 9999;
	color: #fff;
}
.right-container{
	width: 80vw;
	margin-left: 20vw;
	padding: 80px;
}
.right-container h1{
	margin-bottom: 20px;
}
button, input[type="button"]{
	background: linear-gradient(to right bottom, #A1378B, #D42374, #F62B4C, #FF5800);
	color: #fff;
	font-size: 10pt;
	border: none;
	padding: 7px 15px;
	cursor: pointer;
	margin: 20px 0;
	border-radius: 20px;	
}
.subtitle{
	padding: 10px 0;
	color: rgba(0,0,0,.5);
	margin-top: 90px;
	margin-bottom: 20px;

}
.subtitle h2{
	font-size: 24pt;
}
.deezer{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
}
.deezer .a-music{
	flex: 0 0 20%;
	text-align: center;
}
.deezer .a-music img{
	width: 90%;
	border-radius: 10px;
	box-shadow: 10px 10px 20px rgba(0,0,0,.2);
}
.left-container ul{
	margin-top: 80px;
}
.left-container ul li{
	list-style: none;
	border-radius: 5px;
	margin: 10px;
	transition: all .3s;
	padding: 10px 20px;
	color: rgba(255,255,255,.5);
}
.left-container ul li a{
	color: rgba(255,255,255,.6);
	text-decoration: none;
	transition: all .3s;
}
.left-container ul li:hover{
	background: rgba(255,255,255,.3);
}
.left-container ul li:hover a{
	color: #fff;
}
.metadata{
	display: flex;
	justify-content: space-between;
}
.metadata img, .metadata div{
	flex: 0 0 45%;

}
.metadata img{
	max-width: 500px;
	border-radius: 10px;
	box-shadow: 10px 10px 20px rgba(0,0,0,.2);
}
.left-container ul li i{
	color: rgb(255,255,0);
}
.list{
	padding: 15px;
}
.list li{
	margin: 10px 0;
}
pre{
	font-family: monospace, sans-serif;
	padding: 7px;
	border-radius: 4px;
	font-size: 12pt;
	color: #fff;
	background: #2d2d2d;
	margin: 10px 0;
}
.subtitle h2 i{
	opacity: .5;
	margin-left: 15px;
	cursor: pointer;
}
.infosleft{
	position: absolute;
	left: 0;
	bottom: 0;
	background: rgba(255,255,255,.1);
	padding: 20px;
}
.an-image{
	margin: 40px 0;
	text-align: center;
}
.an-image img{
	border-radius: 10px;
	box-shadow: 10px 10px 20px rgba(0,0,0,.2);
}
.a-modal{
	position: fixed;
	z-index: 9999;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,.7);
	padding: 50px;
	top: 0;
	left: 0;
}
.a-modal > i{
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 99999;
	color: #fff;
	font-size: 25pt;
	cursor: pointer;
}
.content-modal{
	width: 960px;
	background: #fff;
	padding: 40px;
	border-radius: 5px;
	margin: 0px auto;
	max-height: 90vh;
	overflow-y: scroll;
	overflow-x: hidden;
	color: #000;
}
.content-modal h2, .content-modal h3{
	color: #2d2d2d;
	margin-bottom: 30px;
}
.content-modal h3{
	margin-top: 30px;
}
.content-modal p, .content-modal li{
	color: rgba(0,0,0,.5);
	margin-bottom: 10px;
	line-height: 1.5em;
}
span.code{
	background: rgba(0,0,0,.2);
	padding: 5px;
	border-radius: 3px;
	font-family: monospace;
	color: #000;
}
.content-modal ul li > ul{
	margin-left: 15px;
}
.content-modal pre code{
	font-family: monospace;
	line-height: 1.5em;
}
.quote{
	width: 500px;
	margin: 40px auto;
	color: rgba(0,0,0,.5);
	padding: 15px 30px;
	border-left: 3px solid rgba(0,0,0,.2);
}
.quote p{
	font-family: Georgia, serif!important;
	font-style: italic;
	font-size: 14pt;
	line-height: 1.5em;
}
.image-modal{
	text-align: center;
	margin: 15px 0;
}
.image img, .watermark{
	margin: 20px 0;
	border-radius: 10px;
	box-shadow: 10px 10px 20px rgba(0,0,0,.2);
}
.protected-video{
	margin: 20px 0;
	border-radius: 10px;
	box-shadow: 10px 10px 20px rgba(0,0,0,.2);
}
.flex-credits{
	margin: 40px auto;
	width: 60%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.person{
	/*padding: 30px;*/
	flex-basis: 30%;
	padding: 10px;
	text-align: center;
}
.person img{
	border-radius: 100%;
	padding: 7px;
	background: linear-gradient(to right bottom, #A1378B, #D42374, #F62B4C, #FF5800); 
	box-shadow: 10px 10px 30px rgba(0,0,0,.2);
}
.person h3{
	margin-top: 20px;
	font-weight: lighter;
	margin-bottom: 15px;
}
.person a{
	margin: 10px 0;
	color: rgba(0,0,0,.5);
}
.subtitle .bar{
	width: 75px;
	height: 10px;
	border-radius: 5px;
	margin: 30px 0;
	background: linear-gradient(to right bottom, #A1378B, #D42374, #F62B4C, #FF5800);
	padding: 5px;
}
#imageprev{
	border-radius: 10px;
	box-shadow: 10px 10px 20px rgba(0,0,0,.2);
}
#overlay{
  position:fixed;
  z-index:99999;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:rgba(0,0,0,0.9);
  transition: 1s 0.4s;
}
#progress{
  height:1px;
  background:#fff;
  position:absolute;
  width:0;
  top:50%;
  transition: 1s;
}
#progstat{
  font-size:0.7em;
  letter-spacing: 3px;
  position:absolute;
  top:50%;
  margin-top:-40px;
  width:100%;
  text-align:center;
  color:#fff;
}